<% hired_by = @offers.select do |offer| %>
  <% offer.freelancer.user == current_user %>
<% end %>
<% hired_by.compact! %>
<% you_hired = @offers.where(user: current_user) %>

<div class="my-offers-tab-wrapper">
  <div class="my-offers-container">
    <% if current_user.has_freelancer %>
    <div class="tab">
      <%= render "shared/tab", tab1: "Received Offers", tab2: "Sent Offers" %>
    </div>
    <div class="from-freelancer">
      <h3 class="text-center">
        <%= "You Have No Pending Offers From Freelancers" if hired_by.empty? %>
      </h3>
      <% hired_by.each do |offer| %>
        <%= render "shared/flip_card", offer: offer, to: offer.user, from: offer.freelancer.user, buttons: 1 %>
      <% end %>
    </div>

    <div class="to-freelancer hidden">
      <h3 class="text-center">
        <%= "You Have No Pending Offers To Freelancers" if you_hired.empty? %>
      </h3>
      <% you_hired.each do |offer| %>
      <%= render "shared/flip_card", offer: offer, to: offer.freelancer.user, from: offer.user, buttons: 1 %>
      <% end %>
    </div>
    <% else %>
    <div class="to-freelancer">
      <h3 class="text-center">
        <%= "You Have No Pending Offers To Freelancers" if you_hired.empty? %>
      </h3>
      <% you_hired.each do |offer| %>
      <%= render "shared/flip_card", offer: offer, to: offer.freelancer.user, from: offer.user, buttons: 1 %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
