<div class="profile-top-wrapper">
  <div class="banner-top" style="background-image: linear-gradient(-225deg, rgba(0,30,40,0.6) 0%, rgba(0,5,0,0.6) 50%), url('http://res.cloudinary.com/djf9mipph/image/upload/v1511256082/banner_profile_cbyznw.jpg');">
  </div>
</div>

<div class="profile-info-wrapper">
  <div class="profile-container">
    <div class="container container-basic-info">
     <div class="profile-header-card">
      <div class="avatar-wrapper">
        <div class="availab-circle"></div>
        <%= image_tag @profile_picture, class: "profile-avatar" %>
      </div>
      <div class="text-info-avatar text-center">
        <h2><br> <%= "#{@profile.first_name} #{@profile.last_name}" %> <br></h2>
        <h3>FREELANCER</h3>
        <span class="line"></span>
        <p>
          <%= @profile.phone_number %>
          <br>
          <%= @profile.email %>
          <br>
        </p>

        <% if current_user == @profile %>
        <%= link_to edit_profile_path(@profile) do %>
        <i class="fa fa-pencil-square-o"></i> <%= t(".edit", default: "Edit Profile") %>
        <% end %>
        <% end %>


        <div class="pay-rate">

          <h3 style="font-size: 30px; font-weight: 700; margin: 2px"><%= @profile.freelancer.currency %><%= @profile.freelancer.hourly_pay.to_f.round(2) %></h3><p style="font-size: 20px; font-weight: 500; margin: 2px;">Hourly rate</p>
          <% if policy(Offer.new(freelancer: @profile.freelancer)).new? && user_signed_in? %>
            <%= link_to new_freelancer_offer_path(@profile.freelancer) do %>
              <%= render "shared/button", text: "Hire", type: "apply profile-apply" %>
            <% end %>
          <% end %>
        </div>

        <div class="right-buttons">
          <i class="fa fa-heart" style="font-size:30px; margin-right: 10px;"></i>
          <i class="fa fa-share" style="font-size:30px; margin-right: 10px;"></i>
        </div>

        <span class="line-wide" style="border-bottom: 1px solid lightgray;width: 100%;display: block; border-width: 1px; margin-top: 35px; margin-bottom: 25px;"></span>
        <div class= "statistic-box">
          <ul class="statistic" >
            <li><h3 style="font-size: 20px; font-weight: 700;"><%= @profile.freelancer.avg_rating %>/5</h3><br><p>Review rating</p></li>
            <li><h3 style="font-size: 20px; font-weight: 700;"><%= @profile.freelancer.offers.where(status: 3).length %></h3><br><p>Completed Jobs</p></li>
            <li><h3 style="font-size: 20px; font-weight: 700;"><%= @profile.freelancer.currency %>69K+</h3><br><p>Total Cash earned</p></li>
            <li><h3 style="font-size: 20px; font-weight: 700;">200</h3><br><p>Hours worked</p></li>
            <li><h3 style="font-size: 20px; font-weight: 700;">1500</h3><br><p>Profile views</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% if @profile.has_freelancer %>
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav">


          <ul class="nav nav-pills nav-stacked">
        <h2 style="margin-bottom: 25px;">About</h2>
        <span class="line-wide"></span>
        <ul class="nav nav-pills nav-stacked">
          <li><h4><span><i class="fa fa-globe" style="font-size:12px; margin-right: 10px;"></i>Location</li></span></h4>
          <h7><%= @profile.location %></h7>
          <li><h4 style="margin-top: 1px;"><span><i class="fa fa-mortar-board" style="font-size:12px; margin-right: 10px;"></i>Education</li></span></h4>
          <h7><%= Faker::Educator.university %></h7>
          <li><h4><span><i class="fa fa-home" style="font-size:12px; margin-right: 10px;"></i>Website</li></span></h4>
          <h7>www.<%= @profile.first_name.downcase %>-<%= @profile.last_name.downcase %>.com</h7>
          <li><h4><span><i class="fa  fa-behance" style="font-size:12px; margin-right: 10px;"></i>Behance</li></span></h4>
          <h7><%= @profile.first_name %>s Profile</h7>
          <li><h4><span><i class="fa fa-linkedin-square" style="font-size:12px; margin-right: 10px;"></i>Linkedin</li></span></h4>
          <h7><%= @profile.first_name %>s Profile</h7>
          <li><h4><span><i class="fa fa-facebook" style="font-size:12px;"></i>Facebook</li></span></h4>
          <%= link_to "https://www.facebook.com/#{ @profile.uid }" do %>
            <h7><%= @profile.first_name %>s Profile</h7>
          <% end %>
        </ul>

        <h2 style="margin-bottom: 25px;">Similar Profile</h2>
        <span class="line-wide"></span>

      </div>

      <div class= container>
        <div class="col-sm-9">
          <h2 style= "margin-bottom: 25px;">Background</h2>
          <span class="line-wide"></span>

          <h2>Summary</h2>

          <span><p text-align: left;>
            <%= @profile.freelancer.summary %>
          <span class="line-wide"></span></p></span>

          <div class="container-central">
           <h2>
            Experiences:
          </h2>
          <div class="profile-experiences-card">

            <% @profile.freelancer.experiences.each do |experience| %>
            <ul style="list-style: none;">
              <div class="profiles-experience-listing">
                <li>
                  <h5>
                    <%= experience.title %>
                  </h5>
                  <h5>
                    Company: <%= experience.company %>
                  </h5>
                  <h4>
                    <span>City:</span> <%= experience.location %>
                  </h4>
                  <h4>
                    <span>Period:</span> <%= toDate(experience.starting_date) %> - to - <%= toDate(experience.ending_date) %>
                  </h4>
                  <h4>
                    <span>Description:</span> <%= experience.description %>
                  </h4>
                </li>

                   <%= image_tag "avatar.svg", class: "img-circle" %>

              </div>
            </ul>
            <% end %>
          </div>

          <span class="line-wide"></span>

          <% if @profile.has_freelancer %>
          <div class="profile-skills-card">
            <h2>Skills</h2>
            <h5><ul style="list-style: none;" class="list-inline">
              <% @profile.freelancer.skills.each do |skill| %>
              <li><%= skill.name %></li>
              <% end %>
            </ul></h5>
          </div>
          <% end %>

          <span class="line-wide"></span>

          <h4>Write a review</h4>
          <form role="form" action="/">
            <div class="form-group">
              <textarea class="form-control" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
          <br><br>

          <p><span class="badge">2</span> Review</p><br>

          <div class="row">
            <div class="col-sm-2 text-center">
              <%= image_tag "avatar.svg", class: "img-circle" %>
            </div>
            <div class="col-sm-10">

              <h4>Anja <small>Sep 29, 2017, 9:12 PM</small></h4>
              <p>Keep up the GREAT work! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <br>
            </div>
            <div class="col-sm-2 text-center">
              <%= image_tag "avatar.svg", class: "img-circle" %>
            </div>
            <div class="col-sm-10">
              <h4>John Row <small>Sep 25, 2017, 8:25 PM</small></h4>
              <p>I am so happy for you man! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <br>
              <p><span class="badge">1</span> Review:</p><br>
              <div class="row">
                <div class="col-sm-2 text-center">
                 <%= image_tag @profile_picture, class: "img-circle" %>
               </div>
               <div class="col-xs-10">
                <h4>Nested Bro <small>Sep 25, 2017, 8:28 PM</small></h4>
                <p>Me too! WOW!</p>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


