<div class="profile-container text-center">

  <div class="profile-header-card">

    <% user_picture_url = @profile_picture_url %>
    <img class="profile-avatar" src=<%= user_picture_url %>>
    <br>
    <%= "#{@profile.first_name} #{@profile.last_name}" %>
    <%= @profile.phone_number %>
    <br>
    <%= @profile.email %>
    <br>

    <% if current_user == @profile %>
    <%= link_to edit_profile_path(@profile.id) do %>
    <i class="fa fa-pencil-square-o"></i> <%= t(".edit", default: "Edit Profile") %>
    <% end %>
    <% end %>

  </div>

  <% if @profile.has_freelancer %>
  <div class="profile-skills-card">
    <h3>Skills:</h3>
    <% @skills.each do |skill| %>
    <ul style="list-style: none;">
      <li><%= skill.name %></li>
    </ul>
    <% end %>
  </div>

  <div class="profile-experiences-card">
    <h2>
      Experiences:
    </h2>
    <% @experiences.each do |experience| %>
    <ul style="list-style: none;">
      <div class="profiles-experience-listing">
        <li>
          <h3>
            <strong>Title:</strong> <%= experience.title %>
          </h3>
          <h4>
            <strong>Company:</strong> <%= experience.company %>
          </h4>
          <h4>
            <strong>City:</strong> <%= experience.location %>
          </h4>
          <h5>
            <strong>Period:</strong> <%= experience.starting_date %> - to - <%= experience.ending_date %>
          </h5>
          <h6>
            <strong>Description:</strong> <%= experience.description %>
          </h6>
        </li>
      </div>
    </ul>

    <% end %>
  </div>

  <% else %>
  <div class="profile-body-card">
    <h4>
      <strong>
        Not a Registered Freelancer.
      </strong>
    </h4>
    <br>
    <%= link_to new_freelancer_path do %>
    <%= render 'shared/button', text: "Register As Freelancer", type: "register" %>
    <% end %>
  </div>

  <% end %>

</div>
