<div class='nested-fields'>
  <%= f.input :title, label: "Job Title: " %>
  <%= f.input :company, label: "Company: " %>
  <%= f.input :location, label: "Location: " %>
  <div class="form-group form-inline">
    <%= f.input :starting_date, label: "From: " %>
    to
    <%= f.input :ending_date, label: false %>
  </div>
  <%= f.input :description, label: "Description of Resposibilities and Tasks: " %>
  <%= link_to_remove_association "Remove Experience", f %>
</div>
