<div class="new-freelancer-form">
  <%= simple_form_for @freelancer do |f| %>
    <%= f.input :position, label: "Register As (Painter, Event Planner, Plumber, Etc.): " %>
    <div class="form-inline">
      <%= f.input :hourly_pay, label: "Minimum Hourly Pay: #{@freelancer.currency}", input_html: { min: '8', step: 'any', value: 8 } %>
    </div>
    <%= f.input :summary, label: "Profile Summary: " %>
    <div id='skills'>
      <%= f.simple_fields_for :skills do |skill| %>
        <%= render 'freelancers/forms/skill_fields', :f => skill %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add Skill', f, :skills, partial: "freelancers/forms/skill_fields" %>
      </div>
    </div>
    <div id="experiences">
      <%= f.simple_fields_for :experiences do |experience| %>
        <%= render 'freelancers/forms/experience_fields', :f => experience %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add Professional Experience', f, :experiences, partial: "freelancers/forms/experience_fields" %>
      </div>
    </div>
    <%= f.submit 'Save' %>
  <% end %>
</div>
