<div class="col-sm-6 col-xs-12">
  <div class="flip-card-container">
    <div class="flip-card">

      <div class="flip-card-front flip-card-side">
        <%= image_tag to.photo, class: "img-circle" %>
        <h1 class="flip-card-logo">
          <%= to.first_name %> <%= to.last_name %>
          <br>
          <div class="small-stars">
            <%= render_stars(to.freelancer.avg_rating) %>
          </div>
        </h1>
          <h5>
            <%= to.freelancer.position %>
          </h5>
        <h4>
          Status:
          <strong>
            <%= status(offer) %>
          </strong>
        </h4>
      </div>

      <div class="flip-card-back flip-card-side">
        <h3 class="flip-card-name">
          <%= link_to profile_path(to) do %>
            <%= to.first_name %> <%= to.last_name %>
          <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>
            <%= to.freelancer.currency %> <%= offer.price %> / <%= offer.price_unit %>
          </strong>
          <br>
          <%= to.freelancer.position %>
        </h3>
        <h5>
          <strong>
            Budget:
          </strong>
          <%= to.freelancer.currency %><%= offer.budget %>
        </h5>
        <div class="flip-card-info">
          <p>
            <span class="flip-card-property">
              Job Description:
            </span>
            <%= offer.description[0..150] %>
            <%= "..." if offer.description.length > 150 %>
          </p>
          <div class="flip-card-btn-wrapper">
            <% if buttons == 1 %>
              <% if offer.status == 2 %>
                <%= link_to complete_my_offer_path( offer ), method: :patch do  %>
                  <button type="hire" class="btn btn-primary flip-card-btn">Job Completed</button>
                <% end %>
              <% end %>
            <% elsif buttons == 2 %>
              <% if offer.status == 1 %>
                <%= link_to accept_my_offer_path( offer ), method: :patch do  %>
                  <button type="hire" class="btn btn-success flip-card-btn">Accept Offer</button>
                <% end %>
                <%= link_to decline_my_offer_path( offer ), method: :patch do  %>
                  <button type="hire" class="btn btn-danger flip-card-btn">Decline Offer</button>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to profile_path(to) do %>
                Contact <%= to.first_name %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
