<div class="freelancer-index-card">
  <div class="first-line-container">

    <div class="card-image">
      <% picture = user.facebook_picture_url || user.photo %>
      <%= link_to profile_path(user) do %>
      <%= image_tag picture, class: "img-circle" %>
      <!-- <img class="card-user avatar" src=<%= picture %>> -->
      <% end %>
    </div>
    <div class="info-text">
      <%= link_to profile_path(user), class: "font-bold-hover" do %>
      <%= "#{user.first_name} #{user.last_name}" %>
      <% end %>
      <br>
      <%= freelancer.position %>
      <br>
      <%= user.location %>

      <div class="line-info"></div>



      <ul class="list-inline product-controls hidden-sm hidden-xs" style="margin-left:0px;">
        <% if freelancer.offers.where(status: 3).empty? %>
        <li><strong>No Completed Jobs Yet</strong></li>
        <% else %>
        <%= render_stars(freelancer.avg_rating) %> (<%= freelancer.offers.where(status: 3).length %>)
        <li><strong>Last Spidy Position:</strong> <%= freelancer.offers.last.updated_at.to_date %></a></li>
        <% end %>
      </ul>
    </div>
    <div class="icon-right">
      <br>
      <%= link_to "#", class: "freelancer-links" do %>
      <i class="fa fa-heart" aria-hidden="true"></i>
      <% end %>
      <%= link_to "#", class: "freelancer-links" do %>
      <i class="fa fa-share" aria-hidden="true"></i>
      <% end %>
      <br>
    </div>
  </div>


  <% skills = freelancer.skills.all[0..6] %>
  <div class="profile-skills-card">
    <h5><ul style="list-style: none;" class="list-inline">
      <% skills.each do |skill| %>
      <li><%= skill.name %></li>
      <% end %>
    </ul></h5>
  </div>

  <div class="line-list"></div>

  <!-- STILL MUST ADD PUNDIT TO THIS -->
  <br>
  <div class="hire-container"><h3>
    <%= freelancer.currency %><%= freelancer.hourly_pay %><span>/h</span></h3>

    <% if policy(Offer.new(freelancer: freelancer)).new? && user_signed_in? %>
    <%= link_to new_freelancer_offer_path(freelancer) do %>
    <%= render "shared/button", text: "Hire #{user.first_name}", type: "apply font-bold-hover" %>
    <% end %>
    <% end %>
  </div>


</div>
