
<div class="navbar-spidy">
  <!-- Logo -->

  <div class="logos">
    <%= link_to "#", class: "navbar-spidy-brand" do %>
    <%= image_tag "SpidyLogo.svg" %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-spidy-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
    <!-- Links when logged in -->
    <%= link_to "Create Job", "#", class: "navbar-spidy-item navbar-spidy-link text-center" %>
    <%= link_to "Nearby Jobs", "#", class: "navbar-spidy-item navbar-spidy-link text-center" %>
    <%= link_to "About Us", "#", class: "navbar-spidy-item navbar-spidy-link text-center" %>
    <%= link_to "Help", "#", class: "navbar-spidy-item navbar-spidy-link text-center" %>
    <%= link_to "#" do %>
    <i class="navbar-spidy-item navbar-spidy-link fa fa-bell"></i>
    <% end %>


    <!-- Avatar with dropdown menu -->
    <div class="navbar-spidy-item">
      <div class="dropdown">
        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-spidy-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-spidy-dropdown-menu">
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-comments"></i> <%= t(".profile", default: "Messages") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-book"></i>  <%= t(".profile", default: "Submitted Contracts") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-clock-o"></i>  <%= t(".profile", default: "My Jobs") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-star"></i>  <%= t(".profile", default: "Favorites") %>
            <% end %>
          </li>
          <li>

            <%= link_to edit_user_registration_path do %>
            <i class="fa fa-cog"></i>  <%= t(".sign_out", default: "Settings") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
    <!-- Login link (when logged out) -->
    <%= link_to "Become a Freelancer", "#", class: "navbar-spidy-item navbar-spidy-link" %>
    <%= link_to "Help", "#", class: "navbar-spidy-item navbar-spidy-link" %>
    <%= link_to "Sign-up", "#", class: "navbar-spidy-item navbar-spidy-link" %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-spidy-item navbar-spidy-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-spidy-item hidden-md hidden-lg">
    <% if user_signed_in? %>
    <%= link_to "#" do %>
    <i class="navbar-spidy-item navbar-spidy-link fa fa-bell"></i>
    <% end %>
    <% end %>
    <div class="dropdown">
      <% if user_signed_in? %>
      <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
      <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-spidy-menu", "data-toggle" => "dropdown" %>
      <ul class="dropdown-menu dropdown-menu-right navbar-spidy-dropdown-menu">
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-certificate"></i> <%= t(".profile", default: "Create a Job") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-street-view"></i> <%= t(".profile", default: "Nearby Jobs") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-comments"></i> <%= t(".profile", default: "Messages") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-book"></i>  <%= t(".profile", default: "Submitted Contracts") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-clock-o"></i>  <%= t(".profile", default: "Previous Jobs") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-star"></i>  <%= t(".profile", default: "Favorites") %>
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_registration_path do %>
          <i class="fa fa-cog"></i>  <%= t(".sign_out", default: "Settings") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-info"></i>  <%= t(".profile", default: "About Us") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-question"></i>  <%= t(".profile", default: "Help") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
      <% else %>
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-spidy-dropdown-menu">
        <li>
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-spidy-item navbar-spidy-link" %>
        </li>
        <li>
          <%= link_to "Nearby Jobs", "#", class: "navbar-spidy-item navbar-spidy-link" %>
        </li>
        <li>
          <%= link_to "About Us", "#", class: "navbar-spidy-item navbar-spidy-link" %>
        </li>
        <li>
          <%= link_to "Help", "#", class: "navbar-spidy-item navbar-spidy-link" %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
