<div class="navbar-spidy">
  <!-- Logo -->
  <div class="logos">
    <%= link_to root_path, class: "navbar-spidy-brand" do %>
      <%= image_tag("spidy-logo.svg", width: 70) %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-spidy-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
    <% if current_user.freelancer.nil? %>
    <%= link_to "Register as Freelancer", new_freelancer_path, class: "navbar-spidy-item navbar-spidy-link text-center" %>
    <% end %>
    <%= link_to "Nearby Freelancers", freelancers_path, class: "navbar-spidy-item navbar-spidy-link text-center" %>
    <%= link_to "Pending Requests", my_offers_path, class: "navbar-spidy-item navbar-spidy-link text-center" %>
    <%= link_to "Help", "#", class: "navbar-spidy-item navbar-spidy-link text-center" %>
    <%= link_to "#" do %>
    <i class="navbar-spidy-item navbar-spidy-link fa fa-envelope"></i>
    <% end %>
    <%= link_to "#" do %>
    <i class="navbar-spidy-item navbar-spidy-link fa fa-bell"></i>
    <% end %>


    <!-- Avatar with dropdown menu -->
    <div class="navbar-spidy-item">
      <div class="dropdown ">
        <% avatar_url = current_user.facebook_picture_url || current_user.photo %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-spidy-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-spidy-dropdown-menu">
          <% if current_user.has_freelancer %>
          <li>
            <%= link_to profile_path(current_user) do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <% end %>
          <li>
            <%= link_to cobweb_my_offers_path do %>
            <i class="fa fa-connectdevelop"></i> <%= t(".profile", default: "My Cobweb") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-heart"></i>  <%= t(".profile", default: "Favorites") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-credit-card"></i> <%= t(".profile", default: "Payments") %>
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_path do %>
            <i class="fa fa-cog"></i>  <%= t(".sign_out", default: "Settings") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
    <!-- Login link (when logged out) -->
    <%= link_to "Nearby Freelancers", freelancers_path, class: "navbar-spidy-item navbar-spidy-link text-center" %>
    <%= link_to "Help", "#", class: "navbar-spidy-item navbar-spidy-link" %>
    <%= link_to "Sign-up", new_user_registration_path, class: "navbar-spidy-item navbar-spidy-link" %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-spidy-item navbar-spidy-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-spidy-item hidden-md hidden-lg">
    <% if user_signed_in? %>
    <%= link_to "#" do %>
    <i class="navbar-spidy-item navbar-spidy-link fa fa-envelope"></i>
    <% end %>
    <%= link_to "#" do %>
    <i class="navbar-spidy-item navbar-spidy-link fa fa-bell"></i>
    <% end %>
    <% end %>
    <div class="dropdown">
      <% if user_signed_in? %>
      <% avatar_url = current_user.facebook_picture_url || current_user.photo %>
      <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-spidy-menu", "data-toggle" => "dropdown" %>
      <ul class="dropdown-menu dropdown-menu-right navbar-spidy-dropdown-menu">
        <% if current_user.freelancer.nil? %>
        <li>
          <%= link_to new_freelancer_path do %>
          <i class="fa fa-users"></i> <%= t(".profile", default: "Register as Freelancer") %>
          <% end %>
        </li>
        <% end %>
        <li>
          <%= link_to profile_path(current_user) do %>
          <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to freelancers_path do %>
          <i class="fa fa-street-view"></i> <%= t(".profile", default: "Nearby Freelancers") %>
          <% end %>
        </li>
        <li>
          <%= link_to my_offers_path do %>
          <i class="fa fa-book"></i>  <%= t(".profile", default: "Pending Requests") %>
          <% end %>
        </li>
        <li>
          <%= link_to cobweb_my_offers_path do %>
          <i class="fa fa-connectdevelop"></i>  <%= t(".profile", default: "My Cobweb") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-heart"></i>  <%= t(".profile", default: "Favorites") %>
          <% end %>
        </li>
        <li>
            <%= link_to "#" do %>
            <i class="fa fa-credit-card"></i> <%= t(".profile", default: "Payments") %>
            <% end %>
          </li>
        <li>
          <%= link_to edit_user_registration_path do %>
          <i class="fa fa-cog"></i>  <%= t(".sign_out", default: "Settings") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-question"></i>  <%= t(".profile", default: "Help") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
      <% else %>
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-spidy-dropdown-menu">
        <li>
          <%= link_to "Nearby Freelancers", freelancers_path, class: "navbar-spidy-item navbar-spidy-link text-center" %>
        </li>
        <li>
          <%= link_to "Help", "#", class: "navbar-spidy-item navbar-spidy-link" %>
        </li>
        <li>
          <%= link_to "Sign-up", new_user_registration_path, class: "navbar-spidy-item navbar-spidy-link" %>
        </li>
        <li>
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-spidy-item navbar-spidy-link" %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
