<div class="home-wrapper">
  <div class="home-page-container">
    <div class="banner">
      <div class="banner-content">
        <h1>spidy</h1>
        <h8>Find nearby freelancer professionals<br>to solve your problems.</h8>
        <div class="search-box">
          <div class="search-container">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" class="search-bar" id="search" placeholder="What are you looking for?" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-mp" style="background-image: linear-gradient(-225deg, rgba(0,30,40,0.6) 0%, rgba(0,5,0,0.6) 50%), url('http://res.cloudinary.com/djf9mipph/image/upload/v1511256314/banner_home_top-min_ba5tzu.jpg');">
    <div class="mp-container">
      <div class="banner-mp-content">
        <h1><span>The world's largest</span></h1>
        <h1><span>community of</span></h1>
        <h1><span>freelancing professionals</span></h1>
        <h9> - </h9>
        <p>wherever and whenever you want.</p>
    </div>
  </div>
</div>
<div class="first-card-wrapper">
  <div class="home-page-container">
    <div class="card">
      <%= image_tag "Design_page-05.svg" %>
    </div>
    <div class="text-card">
      <p>Find nearby freelancing professionals<br>
        and seamlessely request help for <br>
        any task with <strong>secure payments</strong>
      </p>
      <h2><span>GEOLOCALIZATION // SECURE PAYMENTS </span></h2>
    </div>
  </div>
</div>


<div class="maps-wrapper">
  <div class="home-page-container">
    <div class="maps" id="home-map"></div>
    <div class="maps-search-box">
      <div class="search-container">

        <form id="home-map-search">
          <input type="text" name="city" onfocus="geolocate()" id="home-search-bar" class="search-bar" placeholder="Where are you looking for?" />
          <span class="icon" type="submit" id="home-search-map-submit"><i class="fa fa-search"></i></span>
        </form>


      </div>
    </div>
    <div class="hr"><hr /></div>
  </div>
</div>



<div class="second-cards-wrapper">
  <div class="home-page-container">

    <div class="col-xs-12 col-sm-4">
      <div class="s-card">
        <%= image_tag "Design_page-06.svg" %>
      </div>
      <div class="text-card">
        <p>A network of verified <br> freelancing professionals </p>
        <h2><span>SPIDY PROFILE VERIFICATION</span></h2>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="p-card">
        <%= image_tag "Design_page-08.svg" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="s-card">
        <%= image_tag "Design_page-07.svg" %>
      </div>
      <div class="text-card">
        <p>Search through thousands of <br>
          freelancing professionals based off <br>
          YOUR preferences </p>
        <h2><span>QUALITY//QUANTITY//CONSISTENCY</span></h2>
      </div>
    </div>
  </div>
</div>

  <div class="bottom-banner" style="background-image:url('http://res.cloudinary.com/djf9mipph/image/upload/v1511344645/Banner-bottom-09_ywu89a.png');">
  <div class="banner-content">
    <div class="home-page-container">

      <h1><span>The world's largest</span></h1>
      <h1><span>community of</span></h1>
      <h1><span>freelancing professionals</span></h1>
      <h9> - </h9>
      <p>wherever and whenever you want.</p>
      <%= link_to freelancers_path do  %>
        <button class="btn btn-primary btn-lg">Start now</button>
      <% end %>

    </div>
  </div>
</div>
<div class="bottomline">
</div>


<% content_for(:after_js) do %>
      <script>
        var mapStyle = [
    {
        "featureType": "landscape.natural",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#e0efef"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "hue": "#1900ff"
            },
            {
                "color": "#c0e8e8"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 100
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "lightness": 700
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#7dcdcd"
            }
        ]
    }]
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'home-map' },
                           provider: {
                            zoom: 14,
                            center: new google.maps.LatLng(<%= @lat %>, <%= @lng %>),
                            styles: mapStyle
                          }
                        },
                      function() {
        markers = handler.addMarkers(<%= raw @list.to_json %>);
        // google.maps.event.addListener(markers, 'click', function(e) {
        //   console.log("The marker can be clicked");
        // });
// ONLY UNCOMMENT LINES BELOW TO RECENTER MAP AROUND MARKERS AND NOT USER SET LOCATION:
        // handler.bounds.extendWith(markers);
        // handler.fitMapToBounds();
        // if (markers.length == 0) {
        //   handler.getMap().setZoom(14);
        // } else if (markers.length == 1) {
        //     handler.getMap().setZoom(14);
        //   }
        });
    </script>
  <% end %>
