<a name="freelancer-search-field"></a>
<div class="f-banner-mp" style="background-image: linear-gradient(-225deg, rgba(0,30,40,0.6) 0%, rgba(0,5,0,0.6) 50%), url('http://res.cloudinary.com/djf9mipph/image/upload/v1511256082/banner_search_home_adqwln.jpg');">
      <div class="f-banner-content">
        <h1>spidy</h1>
        <h8>Find nearby freelancer professionals<br>to solve your problems.</h8>
        <form id="home-map-search" action="#map-anchor">
        <div class="f-search-box">
          <div class="f-search-container">
            <input type="text" class="f-search-bar" name="job_title" id="f-search" placeholder="What are you looking for?" value="<%= @job_placeholder %>" />
            <span class="icon"><i class="fa fa-search"></i></span>
          </div>
        </div>
          <div class="f-search-container">
            <input type="text" name="city" onfocus="geolocate()" id="home-search-bar" class="f-search-bar" placeholder="Where are you looking?" value="<%= @location %>" />
            <span class="icon" id="home-search-map-submit"><i class="fa fa-map-marker"></i></span>
          </div>
          <br>

            <label for="distance"><h4 style="font-weight: 600; color: white; font-size: 20px">Range(km):</h4> </label>
            <select name="distance" style="color: black;" id="search-range">
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25" selected>25</option>
              <option value="50">50</option>
              <option value="500">50+</option>
            </select>
          <br>
          <br>
          <input type="submit" class="btn btn-primary" style="margin: 0px;" value="Search" />
        </form>
    </div>
  </div>
</div>


<div class="list-page-wrapper">
  <div class="list-page-container">
  <a name="map-anchor"></a>
    <div class="maps-wrapper">
      <div class="home-page-container">
        <div class="maps" id="freelancer-index-map"></div>
            <div class="inline-text">
              <h2><span><i class="fa fa-rocket"></i>  <%= @freelancerCount %> <%= @freelancerWord %></span> FOUND IN YOUR RANGE FOR: <strong><%= @value %></strong> IN <strong><%= @location %></strong></h2>
            <a href="#freelancer-search-field" class="btn btn-primary" style="margin-left: 20px; margin-bottom: 30px;">Edit Search Details</a>
            </div>
         <div class="line-list"></div>
  </div>
</div>

   <div class="freelancer-row">
    <% @freelancers.each do |freelancer| %>
    <%= render "shared/freelancer_card", user: freelancer.user, freelancer: freelancer %>
    <% end %>
  </div>

</div>
</div>

<% content_for(:after_js) do %>
      <script>
        var mapStyle = [{
        "featureType": "landscape.natural",
        "elementType": "geometry.fill",
        "stylers": [{ "visibility": "on" },
        { "color": "#e0efef" }]},
        { "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [{ "visibility": "on" },
        { "hue": "#1900ff" },
        { "color": "#c0e8e8" }]},
        { "featureType": "road",
        "elementType": "geometry",
        "stylers": [{ "lightness": 100 },
        { "visibility": "simplified" }]},
        { "featureType": "road",
        "elementType": "labels",
        "stylers": [{ "visibility": "off" }]},
        { "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
        { "visibility": "on" },
        { "lightness": 700 }]},
        {"featureType": "water",
        "elementType": "all",
        "stylers": [{"color": "#7dcdcd"}]}]
        var handler = Gmaps.build('Google');
        let zoomAmount = 11;
        const range = <%= @range %>
        if (range == 3) {
          zoomAmount = 14;
        } else if (range == 5) {
          zoomAmount = 13;
        } else if (range == 10) {
          zoomAmount = 12;
        } else if (range == 25) {
          zoomAmount = 11;
        } else if (range == 50) {
          zoomAmount = 10;
        } else if (range == 500) {
          zoomAmount = 8;
        } else {
          zoomAmount = 13;
        }
        handler.buildMap({ internal: { id: 'freelancer-index-map' },
                           provider: {
                           zoom: zoomAmount,
                           styles: mapStyle
                          }
                        },
                      function() {
        markers = handler.addMarkers(<%= raw @list.to_json %>);

        var goldStar = {
          path: 'M 125,5 155,90 245,90 175,145 200,230 125,180 50,230 75,145 5,90 95,90 z',
          fillColor: 'yellow',
          fillOpacity: 0.95,
          scale: 0.125,
          strokeColor: 'black',
          strokeWeight: 3,
          anchor: new google.maps.Point(100, 100),
        };

        var marker = handler.addMarker({lat: <%= @lat %>, lng: <%= @lng %>})
        marker.serviceObject.setIcon(goldStar);
        marker.serviceObject.title = 'Entered Location: <%= @location %>';

        markers.push(marker);

        handler.bounds.extendWith(markers)
        handler.fitMapToBounds();
        console.log(markers.length)
        if (markers.length == 1) {
          handler.getMap().setZoom(15);
        }

        });
    </script>
  <% end %>




