<div class="f-banner-mp" style="background-image: linear-gradient(-225deg, rgba(0,30,40,0.6) 0%, rgba(0,5,0,0.6) 50%), url('http://res.cloudinary.com/djf9mipph/image/upload/v1511256082/banner_search_home_adqwln.jpg');">
  <div class="f-mp-container">
    <div class="f-banner-mp-content">
      <div class="f-banner-content">
        <h1>spidy</h1>

        <h8>Find nearby freelancer professionals<br>to solve your problems.</h8>

        <form id="home-map-search">

        <div class="f-search-box">
          <div class="f-search-container">
            <input type="text" class="f-search-bar" name="job_title" id="f-search" placeholder="What are you looking for?" />
            <span class="icon"><i class="fa fa-search"></i></span>
          </div>
        </div>
          <div class="f-search-container">
            <input type="text" name="city" onfocus="geolocate()" id="home-search-bar" class="f-search-bar" placeholder="Where are you looking for?" />
            <span class="icon" id="home-search-map-submit"><i class="fa fa-map-marker"></i></span>
          </div>
          <br>
          <input type="submit" class="btn btn-primary" value="Search" />
        </form>


        <div>
          <div class="f-date-box">
           <form>
            <div class="f-search-container">
              <div class="calendar">
              <span class="icon"><i class="fa fa-calendar"></i></span>

              <input type="date" class="f-search-bar" id="f-search" placeholder="When are you looking for?" />

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="list-page-wrapper">
  <div class="list-page-container">

    <div class="maps-wrapper">
      <div class="home-page-container">

        <div class="maps" id="freelancer-index-map">
        </div>
      </div>
        <div class="maps-search-box">
          <div class="search-container">
            <div class="inline-text">

             <h2><span><i class="fa fa-rocket"></i>  <%= @freelancerCount %> PROFESSIONALS</span> FOUND IN YOUR AREA</h2>
            </div>
         <div class="line-list"></div>
       </div>


   </div>

   <div class="freelancer-row">
    <% @freelancers.each do |freelancer| %>
    <%= render "shared/freelancer_card", user: freelancer.user, freelancer: freelancer %>
    <% end %>
  </div>

</div>
</div>

</div>

<% content_for(:after_js) do %>
      <script>
        var mapStyle = [{
        "featureType": "landscape.natural",
        "elementType": "geometry.fill",
        "stylers": [{ "visibility": "on" },
        { "color": "#e0efef" }]},
        { "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [{ "visibility": "on" },
        { "hue": "#1900ff" },
        { "color": "#c0e8e8" }]},
        { "featureType": "road",
        "elementType": "geometry",
        "stylers": [{ "lightness": 100 },
        { "visibility": "simplified" }]},
        { "featureType": "road",
        "elementType": "labels",
        "stylers": [{ "visibility": "off" }]},
        { "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
        { "visibility": "on" },
        { "lightness": 700 }]},
        {"featureType": "water",
        "elementType": "all",
        "stylers": [{"color": "#7dcdcd"}]}]
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'freelancer-index-map' },
                           provider: {
                            zoom: 14,
                            center: new google.maps.LatLng(<%= @lat %>, <%= @lng %>),
                            styles: mapStyle
                          }
                        },
                      function() {
        markers = handler.addMarkers(<%= raw @list.to_json %>);
        });
    </script>
  <% end %>




